.canvas-container {
  background-color: lightblue;
  height: 85%;

  .main-content {
    display: flex;

    aside {
      flex-basis: 60%;
      min-width: 90px;
    }

    canvas {
      display: block;
      outline: 1px solid black;
      background-color: white;
      margin: 1px 0 30px 1px;
      flex-basis: 40%;
    }
  }
}
